<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/account_style.css">
    </head>

    <body>
        <nav class="navbar"> <!-- imports the nave bar html here-->
          
        </nav>

                <div id="secondary_menu">
                    
                    <div id="accountFlexContainer">
                        <h3>Welcome <a id="playerName">Guest</a>!</h3>
                        <button id="logout" onclick="logout()">Log Out</button>
                    </div>

                </div>
            </div> <!-- needed from the html within the nav bar html-->
        

    </body>
    <script src="scripts/script.js"></script>
    <script src="scripts/account_script.js"></script>
    
</html>
