<!DOCTYPE html>
<html>
    <head>
        <title>Adventure_Menu</title>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/adventure_menu_style.css">
    </head>

    <body>
        <nav class="navbar">

        </nav>
                <div id="secondary_menu">
                    <div id="adventure_bulletin">
                        <div id="adventure_menu">
                            <a href="storytext">dev testing link to storytext</a> <!--dev testing link-->
                        </div>
                    </div>
                </div>
            </div> <!-- needed from the html within the nav bar html-->
    </body>
    <script src="scripts/script.js"></script>
    <script src="scripts/adventure_menu_script.js"></script>  <!-- need to test hopefully no typos-->
</html>