<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
        <nav class="navbar">
          
        </nav>

            <div id="secondary_menu">
                <form id="loginForm">
                    <lable for="emailOrUsername"><b class="info">Email or Username</b></lable>
                    <br>
                    <input type="text" name="emailOrUsername" id="emailOrUsername">
                    <br>
                    <label for="password"><b class="info">Password</b></label>
                    <br>
                    <input type="text" name="password" id="password">
                    <br>
                    <br>
                    <input type="submit" value="login">
                    <br>
                    <p>Need to make an account: <a href="create_account">Create a New Account.</a></p>
                </form>
                <div id="test"></div> <!-- testing for a place to put output if successful-->
                <div id="test2"></div>
            </div>
        </div>
    </body>
    <script src="scripts/script.js"></script>
    <script src="scripts/login.js"></script>

</html>