<!DOCTYPE html>
<html>
    <head>
        <title>Story</title>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/storytext_style.css">
    </head>

    <body>
        <nav class="navbar">

        </nav>
                <div id="secondary_menu">
                    <div id="background">
                        <div id="charactor"></div>
                        <div id="textbox">
                            <p id="text"></p>
                        </div>
                    </div>
                </div>
            </div> <!-- needed from the html within the nav bar html-->
    </body>
    <script src="scripts/script.js"></script>
    <script src="scripts/storytext_script.js"></script>
</html>