<!DOCTYPE html>
<html>
    <head>
        <title>MyRPG</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
        <nav class="navbar"> <!-- imports the nave bar html here-->
          
        </nav>

                <div id="secondary_menu">
                    
                    <!-- code here -->

                </div>
            </div> <!-- needed from the html within the nav bar html-->
        

    </body>
    <script src="scripts/script.js"></script>
    
</html>
