#myrpg_menu{
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#myrpg_menu a{
    border-style: solid;
    border-color: black;
    background-color: rgb(148, 148, 148);
    padding: 10%;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-size: 100%;
    box-sizing: border-box;
    margin-top: 1%;
}
#myrpg_menu a:nth-child(odd) {
    margin-right: 30%;
}
#myrpg_menu a:nth-child(even) {
    margin-left: 30%;
}